body{
	margin: 0px;
	padding: 0px;
	background: #000;
}
nav#topMenu ul{
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
nav#topMenu li{
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	padding: 20px;
}
nav#topMenu a{
	text-decoration: none;
	color: #fff;
}
nav#topMenu li:hover
{
background: #aaa;
color:black;
}
nav#topMenu a:hover{
color: #333;
cursor:pointer;
} 
